# Data Preprocessing

In [3]:
import pandas as pd 

data = pd.read_csv("messydata.csv")
print(data)

          A      B    C      D
0   maldimz    3.0  yes    2.0
1      afe2    NaN   no    2.0
2      wth4    3.0  yes    4.0
3      atn2    2.0   no   24.6
4        21   25.0  yes    6.0
5      ple2   45.6  yes    7.0
6      snn3   41.1   no   10.0
7      avg2  234.0  yes   22.0
8      ikk1    2.0  NaN    3.0
9      pkn3    5.0  yes    NaN
10     gry5    5.0   no    3.0
11     1arg  145.0   no   56.0
12     0opw  556.0   no    7.0
13      khj   34.0  yes   12.0
14     lasd  234.0   no    NaN
15    ujgh3    NaN  yes   45.0
16     asd3   12.0  yes   22.0
17     njk4   10.0   no   45.0
18     lkj2    2.0   no  -99.0
19    mn02f   15.0   no  234.0
20    ik67j    1.0  yes    5.0

## Melakukan Konfersi Tipe Data

In [4]:
print(data.info())

data['B'] = data['B'].astype('string')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       21 non-null     object
 1   B       19 non-null     float64
 2   C       20 non-null     object
 3   D       19 non-null     float64
dtypes: float64(2), object(2)
memory usage: 804.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       21 non-null     object
 1   B       19 non-null     string
 2   C       20 non-null     object
 3   D       19 non-null     float64
dtypes: float64(1), object(2), string(1)
memory usage: 804.0+ bytes
None

## Mendeteksi Nilai NUll pada Data

In [5]:
data_null = data.isnull()
print(data_null)

        A      B      C      D
0   False  False  False  False
1   False   True  False  False
2   False  False  False  False
3   False  False  False  False
4   False  False  False  False
5   False  False  False  False
6   False  False  False  False
7   False  False  False  False
8   False  False   True  False
9   False  False  False   True
10  False  False  False  False
11  False  False  False  False
12  False  False  False  False
13  False  False  False  False
14  False  False  False   True
15  False   True  False  False
16  False  False  False  False
17  False  False  False  False
18  False  False  False  False
19  False  False  False  False
20  False  False  False  False

In [7]:
row_null = data[data.isnull().any(axis=1)]
print(row_null)

        A      B    C     D
1    afe2   <NA>   no   2.0
8    ikk1    2.0  NaN   3.0
9    pkn3    5.0  yes   NaN
14   lasd  234.0   no   NaN
15  ujgh3   <NA>  yes  45.0

## Cara 1 : Mengubah data NULL menjadi karakter lain

In [11]:
import numpy as np
data1 = data
data1.replace(np.nan, -99, inplace=True)
print(data1)

          A      B    C      D
0   maldimz    3.0  yes    2.0
1      afe2  -99.0   no    2.0
2      wth4    3.0  yes    4.0
3      atn2    2.0   no   24.6
4        21   25.0  yes    6.0
5      ple2   45.6  yes    7.0
6      snn3   41.1   no   10.0
7      avg2  234.0  yes   22.0
8      ikk1    2.0  -99    3.0
9      pkn3    5.0  yes  -99.0
10     gry5    5.0   no    3.0
11     1arg  145.0   no   56.0
12     0opw  556.0   no    7.0
13      khj   34.0  yes   12.0
14     lasd  234.0   no  -99.0
15    ujgh3  -99.0  yes   45.0
16     asd3   12.0  yes   22.0
17     njk4   10.0   no   45.0
18     lkj2    2.0   no  -99.0
19    mn02f   15.0   no  234.0
20    ik67j    1.0  yes    5.0

## Cara 2 : Mengganti Nilai NUll demgam sebelumnya

In [5]:
data2 = data
data2.fillna(method='ffill', inplace=True)
print(data2)

          A      B    C      D
0   maldimz    3.0  yes    2.0
1      afe2    3.0   no    2.0
2      wth4    3.0  yes    4.0
3      atn2    2.0   no   24.6
4        21   25.0  yes    6.0
5      ple2   45.6  yes    7.0
6      snn3   41.1   no   10.0
7      avg2  234.0  yes   22.0
8      ikk1    2.0  yes    3.0
9      pkn3    5.0  yes    3.0
10     gry5    5.0   no    3.0
11     1arg  145.0   no   56.0
12     0opw  556.0   no    7.0
13      khj   34.0  yes   12.0
14     lasd  234.0   no   12.0
15    ujgh3  234.0  yes   45.0
16     asd3   12.0  yes   22.0
17     njk4   10.0   no   45.0
18     lkj2    2.0   no  -99.0
19    mn02f   15.0   no  234.0
20    ik67j    1.0  yes    5.0

## Cara 3 : Menghapus Semua Baris yang punya Data NULL

In [8]:
data3 = data
data3 = data3.dropna()
print(data3)

          A      B    C      D
0   maldimz    3.0  yes    2.0
1      afe2    3.0   no    2.0
2      wth4    3.0  yes    4.0
3      atn2    2.0   no   24.6
4        21   25.0  yes    6.0
5      ple2   45.6  yes    7.0
6      snn3   41.1   no   10.0
7      avg2  234.0  yes   22.0
8      ikk1    2.0  yes    3.0
9      pkn3    5.0  yes    3.0
10     gry5    5.0   no    3.0
11     1arg  145.0   no   56.0
12     0opw  556.0   no    7.0
13      khj   34.0  yes   12.0
14     lasd  234.0   no   12.0
15    ujgh3  234.0  yes   45.0
16     asd3   12.0  yes   22.0
17     njk4   10.0   no   45.0
18     lkj2    2.0   no  -99.0
19    mn02f   15.0   no  234.0
20    ik67j    1.0  yes    5.0

## Convert ke CSV

In [ ]:
data3.to_csv('data_cleaned.csv', index=False)